/*General region*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', 'sans serif';
    overflow-x: hidden;
}

:root {
    --bg-text-lightblue: #0282f9;
    --bg-main-black: #1c1c1c;
    --nav-text-grey: #4f4f4f;
    --main-footer-titles-white: #fefcf7;
    --footer-text-grey: #83867e;
    --bg-socials: #303030;
    --bg-priceavailable-green: #37b700;
    --text-available-lightgreen: #92d677;
    --bg-talent-specs-lightgrey: #e4e3e3;
}

.container {
    width: 80%;
    max-width: 1176px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*END General region*/






/*Header region*/
header {
    & .row {
        padding-top: 0.5rem;
    }

    & .resizeIcon {
        width: 100px;
    }


    & ul {
        display: flex;
        list-style: none;

        & li {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-bottom: -40px;
        }

        & li::after {
            display: block;
            content: "";
            border-bottom: solid 5px var(--bg-text-lightblue);
            transition: all 0s ease-in-out 0s;
            transform: scaleX(0);
            padding-bottom: 40px;

        }

        & li:hover {

            & a {
                color: var(--bg-text-lightblue);
            }

        }

        & li:hover::after {
            transform: scaleX(1);
        }

        & a {
            text-decoration: none;
            color: var(--nav-text-grey);
            font-weight: 700;
        }

    }
}

.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
}

/*END Header region*/

/*Main region*/



.content {
    background-color: var(--bg-main-black);

    & h3 {
        display: inline-block;
        padding: 1rem;
        background-color: var(--bg-text-lightblue);
        color: var(--main-footer-titles-white);
        margin-top: -20px;
    }

    & h2 {
        color: var(--main-footer-titles-white);
    }

    & .row {
        align-items: start;
        gap: 1rem;

        & .comicCard {
            width: calc((100%/12)*2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 -1rem;
            padding: 1rem;

            & .maskComic {
                overflow: hidden;
                width: 150px;
                height: 200px;
                max-width: 150px;
                max-height: 200px;

                & .resizeComic {
                    height: 200px;

                }

            }

            & h4 {
                font-weight: 400;
                color: var(--main-footer-titles-white);
            }
        }
    }

    & .loadMore {
        display: flex;
        justify-content: center;
    }

    & button {
        background-color: var(--bg-text-lightblue);
        margin: 2rem;
        padding: 1rem;
        font-size: 16px;
        font-weight: 700;
        color: var(--main-footer-titles-white);
        border: 1px solid var(--bg-text-lightblue);
        cursor: pointer;
    }

    & button:hover {

        background-color: rgb(8, 42, 122);
    }
}

.content-action-comics {
    background-color: var(--main-footer-titles-white);

    & .bluebar {
        background-color: var(--bg-text-lightblue);
        height: 100px;
        margin-bottom: 32px;
    }


    & .comic-selected {
        position: absolute;
        top: 340px;


        & .resizeComic {
            height: 250px;
        }
    }

    & .row {

        align-items: start;
        margin-bottom: 32px;

        & .price-quantity {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
            background-color: var(--bg-priceavailable-green);
            margin: 1rem 0;

            & .price {
                display: flex;
                justify-content: space-between;
                width: 80%;
                padding: 10px 5px;
                font-weight: 700;
                color: var(--text-available-lightgreen);

                & .white{
                    color: var(--main-footer-titles-white);
                }

            }

            & .quantity {
                padding: 10px 5px;
                border: 0px;
                border-left: 1px solid black;
                background-color: var(--bg-priceavailable-green);
                color: var(--main-footer-titles-white);
                font-weight: 600;
                font-size: 18px;
            }
        }

        & .texts {
            width: 65%;
        }

        & .adv {

            & h4 {
                text-align: right;
            }

        }
    }

}

.content-action-comics-info {
    background-color: var(--bg-talent-specs-lightgrey);

    & .row {

        align-items: start;



        & .talent {
            width: 50%;
            padding: 32px;


            & table {
                border-collapse: collapse;
                width: 100%;

                & tr {

                    border-bottom: 1px solid var(--bg-socials);


                    & th {
                        padding: 16px 0;
                        width: 50%;
                        text-align: left;
                        border-bottom: 1px solid var(--bg-socials);
                    }

                    & td {
                        padding: 16px 0;
                        width: 50%;
                        text-align: left;
                        border-bottom: 1px solid var(--bg-socials);
                    }
                }
            }

        }

        & .specs {
            width: 50%;
            padding: 32px;

            & table {
                border-collapse: collapse;
                width: 100%;

                & tr {

                    & th {
                        padding: 16px 0;
                        width: 50%;
                        text-align: left;
                        border-bottom: 1px solid var(--bg-socials);
                    }

                    & td {
                        padding: 16px 0;
                        width: 50%;
                        text-align: left;
                        border-bottom: 1px solid var(--bg-socials);
                    }
                }

            }
        }
    }
}

.comicsLocations {
    height: 18vh;
    width: 100vw;
    background-color: var(--bg-text-lightblue);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    & .row {
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        & .singleIcon {
            display: flex;
            align-items: center;
            justify-content: start;
            text-decoration: none;
            cursor: pointer;

            .resizeIcon {
                max-width: 65px;
                max-height: 65px;
            }

            & span {
                color: var(--main-footer-titles-white);
                font-size: 15px;
                white-space: nowrap;
            }
        }
    }

}

/*END Main region*/

/*Footer region*/

.categories {
    background-image: url('../images/dc-logo-bg.png'), url('../images/footer-bg.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 500px, cover;
    background-position-x: 80%;
    background-position-y: 40%;
    width: 100vw;

    & .row {
        flex-wrap: nowrap;

        & .links {
            display: flex;
            margin-left: -1rem;
            padding: 2rem 0;


            & li {
                line-height: 1;

            }

            & h5 {
                color: var(--main-footer-titles-white);
                padding-bottom: 5px;
                padding-top: 10px;
            }

            & a {
                text-decoration: none;
                color: var(--footer-text-grey);
                font-size: 10px;
            }


            & .col-4 {
                width: calc((100%/12)*4);
                padding-left: 10px;
                padding-right: 1rem;
            }
        }
    }

    & ul {
        list-style: none;
    }
}

.bottomFooter {
    background-color: var(--bg-socials);
    height: 10vh;
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    & .row {

        margin-left: -10px;
    }

    & button {
        background-color: var(--bg-socials);
        color: var(--main-footer-titles-white);
        padding: 10px;
        border: 2px solid var(--bg-text-lightblue);
        font-weight: 600;
        min-width: 100px;
        cursor: pointer;
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 120px;

        & h3 {
            color: var(--bg-text-lightblue);
        }

    }
}

/*END Footer region*/